.primaryInfoCard{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.primaryInfoCardTop{
    font-size: x-large;
}

.primaryInfoCardCenter{
    font-size: xx-large;
}

.primaryInfoCardBottom{
    display: flex;
    gap: .5rem;
}