.forecastHeader{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: x-small;
}

.forecastHeaderElem{
    text-align: center;
    margin: 0;
}

.forecastHeaderArrowWrap{
    text-align: left;    
}

.forecastHeaderText{
    margin-bottom: 12px;
    align-self: center;
}

.forecastHeaderBtn{
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
    margin: 3px;
    
}

.forecastHeaderBtn svg{
    width: 33px;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}


.forecastMainSection{
    display: flex;
    justify-content:space-evenly ;
    margin-top: 30px;
}

@media(max-width: 600px){
    .forecastMainSection{
        display: flex;
        flex-direction: column;
    }
    .forecastMainSection > div{
        margin: 20px 20px 20px 20px;
    }
}